.dialogs {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-template-areas:

}

.dialogs_items {
padding: 10px;;
}

.dialog a {
    text-decoration: none;
   color: #5a5151;
}
.dialog a.active {
color: #3b5998;
}

.messages {
padding: 10px;
}

.message {
    color: 	#a19d9d
}

.img {
    width: 50px;
    margin: 15px;
}
