.users {

}

.title {

}

.usersWrapper {
    display: flex;
    width: 100%;


}

.showMoreBtn {

}

.btn {
    width: 10em;
}

.info {
display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.avatar_followBtn_wrapper {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 100px;
}
.name_status_wrapper {

}

.country_city_wrapper {

}

